<!-- /todo/templates/todo/index.html -->
<head>

<!--  <link rel="stylesheet" href="todo/style3.css">  -->

  <script>

  var myWindow,myWindow2,myWindow3;
  var WIDTH = window.innerWidth;
  var HEIGHT = window.innerHeight;
  var top = window.innerHeight / 2;
  var left = window.innerWidth / 2;
  var x = left - (WIDTH / 2);
  var y = top - (HEIGHT / 2);
  function openWinTask() {
    myWindow = window.open('http://127.0.0.1:8000/admin/','_blank');
  }
    function openWinGame() {
    myWindow2 = window.open("", "myWindow2", "top="+y+"",left="+x",width="+WIDTH+",height="+HEIGHT");
    myWindow2.document.write("<p>ゲーム</p>");
  }
  function openWinBuki() {
    myWindow3 = window.open("", "myWindow3", "top=200,left=200,width=600,height=300");
    myWindow3.document.write("<p>武器購入</p>");
    myWindow3.document.write("<p>持ち金</p>");
  }

  </script>

</head>
   <h2>ゲーム画面</h2>


----------------------------------------<br>

{% extends 'todo/base.html' %}

{% block content %}

    <h2>タスク</h2>

    <!--
    {% if category %}
        <h2>カテゴリー: {{ category.title }}</h2>
    {% endif %}
    -->

    {% for todos in todo %}

          ****************************************<br>
            <b>{{ todos.title }}</b><br>
                 カテゴリー:{{todos.category}}<br>
                 締切日:<span style="color:red">{{ todos.deadline_date}}</span>
            <form method="POST" action="{% url 'todo:delete' todos.pk %}">
                {% csrf_token %}
              難易度：{{todos.level}}<br>
                <button type="submit">削除</button>
            </form>
          ****************************************<br>

    {% endfor %}

    <button type="button" class="btn" onclick="openWinTask()">タスク管理を登録</button>
    <button type="button" class="btn" onclick="openWinGame()">ゲーム</button>
    <button type="button" class="btn" onclick="openWinBuki()">武器を購入</button>

{% endblock %}
